<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
       connectionString="data source=sql.program-ar.com.ar,1433;Initial Catalog=programarTest;User ID=programar;Password=Pr0gr4m4r;"
       providerName="System.Data.SqlClient" />
    <add name="WebProgramAREntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.program-ar.com.ar,1433;Initial Catalog=programarTest;User ID=programar;Password=Pr0gr4m4r;;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
       <customErrors mode="On" defaultRedirect="~/Error/" redirectMode="ResponseRedirect">
         <error statusCode="403" redirect="~/Error/NoAccess.cshtml" />
         <error statusCode="404" redirect="~/Error/FileNotFound.cshtml" />
       </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>