<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Casa -->
    <!--
    <add key="logDirectorio" value="D:\DESARROLLO\Compilador"/>
    <add key="archEntrada" value="D:\DESARROLLO\Compilador\test.txt"/>
    <add key="archAFD" value="D:\DESARROLLO\Compilador\archAFD.txt"/>
    -->
    
    <!-- Pendrive -->
    
    <add key="archEntrada" value="Configuracion\test.gar"/>
    <add key="archAFD" value="Configuracion\AFD_GARGAR.txt"/>
    <add key="archGramatica" value="Configuracion\Gramatica.xml"/>

    <add key="archRutinasEentradaSalida" value="D:\DESARROLLO\ProyectoFinal\trunk\AplicativoEscritorio\Compilador\RutinasEntradaSalida.txt"/>

    <add key="capacidadBuffer" value="100"/>
    <add key="extraEspaciosEnBuffer" value="5"/>
    <add key="cantElementosCadenaEntrada" value="4"/>
  </appSettings>

</configuration>