@{
    ViewBag.Title = "Ejercicios";
}
<!--<h1>@ViewBag.Message</h1>-->
<br />
<div class="warning_msg">
    <div class="titlePageNotFound"><img src="@Url.Content("~/Content/images/warning_icon.png")" />OOOOOOOPS!!!</div>
    <br />
    <div class="subTitlePageNotFound">Página imposible de acceder de esta manera.</div>
    <br />
    <div class="descriptionPageNotFound">Quieres ingresar a una URL incorrecta o que no se puede acceder de esta manera.</div>
    <br />
<div >
      @Html.ActionLink("Ir a Home", "Index", "Home",new {@class="submit",@style="color:#fff"})
    </div>
</div>
 
    
<script type="text/javascript">
    $(document).ready(function () {
        //para el manejo del menu
        $("#menu li").each(function (index) {
            if ($(this).children().html().toUpperCase() == "HOME") {
                $(this).addClass("selected");
            } else {
                $(this).removeClass("selected");
            }
        });

    });
</script>

