@model WebProgramAR.Entidades.Usuario


@{
    Layout = null;
    ViewBag.Title = "Usuarios";
}

<h2>Nuevo</h2>
<legend>Usuario</legend>

   
@using (Html.BeginForm("Create", "Usuario", FormMethod.Post, new { id="frmSaveUsuario",enctype = "multipart/form-data" }))
{ 
        @Html.ValidationSummary(true)

        <br style="height:5px" />
        @Html.Partial("_CreateOrEdit", Model)
         
        <div id="buttonSectionOptions">
            <div>
                <input type="submit" value="Guardar" class="submit" id="btnGuardar"/>
            </div>
            <div >
                 <input type="button" value="Cancelar" class="submit" id="btnCancelar"/>
            </div>
        </div>
}
