@model WebProgramAR.Entidades.Usuario

@{
    Layout = null;  
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>
<legend>Usuario</legend>

@using (Ajax.BeginForm("Edit", "Usuario", FormMethod.Post, new AjaxOptions { OnBegin = "disableButtons", UpdateTargetId = "update-message", OnSuccess = "updateSuccess", HttpMethod = "POST" }))
{ 
    @Html.ValidationSummary(true)
    
            
            @Html.Partial("_Edit", Model)
            <br style="height: 15px" />

             <div id="buttonSectionOptions" class="buttonSectionOptions">
            <div>
                <input type="submit" value="Guardar" class="submit" id="btnGuardar"/>
            </div>
            <div >
                 <input type="button" value="Cancelar" class="submit" id="btnCancelar"/>
            </div>
        </div>

        
}
<div id="update-message" class"error" style="display:none;"></div>
<div id="divOperacionExitosa">Operacion Exitosa</div>
