
@model WebProgramAR.Entidades.Usuario

@{
    List<WebProgramAR.Entidades.Pais> listaPaises = (List<WebProgramAR.Entidades.Pais>)ViewBag.Paises;
    List<WebProgramAR.Entidades.Provincia> listaProvincias = (List<WebProgramAR.Entidades.Provincia>)ViewBag.Provincias;
    List<WebProgramAR.Entidades.Localidad> listaLocalidades = (List<WebProgramAR.Entidades.Localidad>)ViewBag.Localidades;
    List<WebProgramAR.Entidades.TipoUsuario> listaTipoUsuario = (List<WebProgramAR.Entidades.TipoUsuario>)ViewBag.TipoUsuarios;
    ViewBag.Title = "Mi Perfil";
}


<script language="javascript">
    $(document).ready(function () {
        $(".tabs li").click(function () {
            var actual = $(this).attr("id");
            $(".tabs li").each(function () {
                if ($(this).attr("id") == actual) {
                    $("#" + actual).fadeIn("slow");
                    $(this).addClass("selected");
                    $("#" + actual + "Content").fadeIn("slow");
                }
                else {
                    $(this).removeClass("selected");
                    $("#" + $(this).attr("id") + "Content").fadeOut("slow");
                }

            });
        });
    });
</script>
<h1>Mi Perfil</h1>
<ul class="tabs">
    <li id="Perfil" class="selected">Perfil</li>
    <li id="Cursos">Cursos</li>
    <li id="Aprobados">Aprobados</li>
    <li id="Pendientes">Pendientes</li>
    <li id="Desaprobados">Desaprobados</li>
</ul>
<div id="tabContent" class="contentInformation">
    <div id="PerfilContent">
       @using (Html.BeginForm("Edit", "Usuario", FormMethod.Post, new { id = "frmSaveUsuario", enctype = "multipart/form-data" }))
       { 
            @Html.ValidationSummary(true)
             @Html.Partial("_CreateOrEdit", Model)
         
            <div id="buttonSectionOptions" class="buttonSectionOptions">
                <div>
                    <input type="submit" value="Guardar" class="submit" id="btnGuardar"/>
                </div>
                <div >
                     <input type="button" value="Cancelar" class="submit" id="btnCancelar"/>
                </div>
            </div>
       }
    </div>
    <div id="CursosContent"></div>
    <div id="AprobadosContent"></div>
    <div id="PendientesContent"></div>
    <div id="DesaprobadosContent"></div>
</div>
<div id="update-message" class"error" style="display:none;"></div>
<div id="divOperacionExitosa">Operacion Exitosa</div>