/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body,html
{
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.27, rgb(1,45,202)),
    color-stop(0.82, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(1,45,202) ,
		rgb(255,255,255) 
	);
    font-size: 0.9em;
    font-family: Calibri,"Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0; /*color: #696969;*/
    overflow:hidden;
    width:100%;
    height:120%;
}
form
{
 margin:10px;   
}
.border_all{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.border_left_all{
border-top-left-radius:10px;
-moz-border-radius-topleft:10px;
-webkit-border-top-left-radius:10px;
border-bottom-left-radius:10px;
-moz-border-radius-bottomleft:10px;
-webkit-border-bottom-left-radius:10px;
}
.border_right_all{
border-top-right-radius:10px;
-moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;
border-bottom-right-radius:10px;
-moz-border-radius-bottomright:10px;
-webkit-border-bottom-right-radius:10px;
}

.border_top_all{
border-top-right-radius:10px;
-moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;
border-top-left-radius:10px;
-moz-border-radius-topleft:10px;
-webkit-border-top-left-radius:10px;
}
.border_bottom_all{
border-bottom-right-radius:10px;
-moz-border-radius-bottomright:10px;
-webkit-border-bottom-right-radius:10px;
border-bottom-left-radius:10px;
-moz-border-radius-bottomleft:10px;
-webkit-border-bottom-left-radius:10px;
}
a:link
{
    color: #034af3;
    text-decoration: none;
}

a:visited
{
    color: #505abc;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 2px;
    line-height: 1.6em;
    
}

header, footer, nav, section
{
    display: block;
}
.sectionSpace
{
    border-left:2px dotted #333;
    height:270px;
    float:left;   
}
.SameSectionSpace
{
    float:left;   
}
/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    padding-top: 5px ;
    padding-bottom:5px;
    text-transform:uppercase;
    font-size:1.5em;
    border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    color:#EE4000;
    margin-bottom:10px;
    width:100%;
    z-index:151;
}

h2
{
    padding: 0 0 10px 0;
    text-transform:uppercase;
    font-size:1.5em;
    border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    background:#EE4000;
    padding-left:60px;
    margin-left:100px;
    padding-top:5px;
    color:#fff;
    margin-bottom:10px;
    width:80%;
    z-index:151;
}

h3
{
    font-size: 1.2em;
    text-transform:uppercase;
    color:#666;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-top:-30px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}

header, #header
{
    position: relative;
    left:0;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
    height: 95px;
    background:#fff;
    -moz-border-radius:4px 4p 0 0;
	-webkit-border-radius:4px 4p 0 0;
	border-radius:4px 4p 0 0;
}

header h1, #header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main
{
    padding: 10px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    background-image: url('images/fondo.png');
    height:440px;
}

footer, #footer
{
    background-color: #ccc;
    color: #999;
    padding: 0px 0;
    height:80px;
    text-align: center;
    line-height: normal;
    margin: 0 0 50px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    position: relative;
    padding-left:40px;
}
footer .content
{
    float:left;
    width:120px;
    margin-top:10px;
    color:#fff;
    height:80%;
    border-right:1px dotted #fff;
}
*{ margin:0; padding:0;}


/* TAB MENU   */
ul#menu
{
    position:absolute;
    top:40px;
    float:right;
    text-align:right;
    right:0;
    border-bottom: 1px #5C87B2 solid;
    text-transform:uppercase;
    font-family:Calibri;
    background:#666;
    height: 45px;
    width: 100%;
    
}

#menu > li{ position:relative;}

ul#menu li
{
    display: inline;
    list-style: none;
    padding-right:10px;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a,.subMenu li a,.subMenu li.selected a
{
    padding: 8px 20px;
    text-decoration: none;
    line-height: 3.5em;
    background-color: #ccc ;
    color: #fff !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border:1px solid  #fff;
    cursor:pointer;
    cursor:hand;
    
}

ul#menu li a:hover,ul.subMenu li a:hover,ul.subMenu li.selected a:hover
{
    
    background-color: #EE4000 ;
    color:#fff !important;
    text-decoration: none;
    border:1px solid #EE4400;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    
}

ul#menu li a:active
{
    background-color: #19F;
    text-decoration: none;
    border:1px solid #fff;
}

ul#menu li.selected a
{
    background-color: #333;
    color: #fff;
    border:1px solid #fff;
}
.subMenuSelected a
{
    background-color: #EE4000 !important;
    color: #fff !important;
    -moz-border-radius:10px 10px 0px 0px !important;
	-webkit-border-radius:10px 10px 0px 0px !important;
	border-radius:10px 10px 0px 0px !important;
    cursor:pointer !important;
    cursor:hand !important;
    padding-bottom:40px !important;
    -moz-box-shadow: 0 0 5px #888 !important;
    -webkit-box-shadow: 0 0 5px #888 !important;
    box-shadow: 0 0 5px #888 !important; 
}
ul.submenu
{
    width:180px;
    padding-left:10px;
    line-height:70%;
    margin-top:-20px;
    margin-left:40px;
    padding-top:10px;
    position:absolute;
    float:left;
    text-align:left;
    display:none;
    background:#EE4000;
    height:auto;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	z-index:1100;
	opacity: .90;
    filter: alpha(opacity=90%);
	
}
.submenuLi a
{
    cursor:pointer !important;
    cursor:hand !important;
    margin:0;   
    padding-right:10px;
    padding: 8px 20px !important;
    text-decoration: none !important;
    line-height: 3.5em  !important;
    background-color: #fff  !important;
    color: #666 ;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border:1px solid  #666;
}
.submenuLi a:hover
{
    background-color: #19f  !important;
    color: #fff !important;
    border:1px solid #fff;
}
.submenuLi
{
    margin-top:-5px;   
    list-style: none;
    padding-right:10px;
    
}



/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
.fieldsElements
{
    border: 0px solid #ddd;
    padding: 0 1em 1.4em 1.4em;
    margin: 0 0 1em 0;
    font-family:Calibri;
    width:300px;
}
fieldset
{
    border: 0px solid #ddd;
    padding: 0 1em 1.4em 1.4em;
    margin: 0 0 1em 0;
    font-family:Calibri;
    width:220px;
}
fieldset.details
{
    border: 0px solid #ddd;
    padding: 0 1em 1.4em 1.4em;
    margin: 0 0 1em 0;
    font-family:Calibri;
    width:100%;
}
legend
{
    text-transform:uppercase;
    font-weight:bold;
    font-size:1.5em;
    border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    background:#333;
    padding-bottom:10px;
    padding-left:10px;
    padding-top:5px;
    padding-right:10px;
    color:#fff;
    margin-left:0px;
    margin-top:-48px;
    margin-bottom:20px;
    height:23px;
    width:120px;
}

textarea
{
    min-height: 160px;
    min-width:200px;
}

input[type="text"], input[type="password"],textarea
{
    margin-top:4px;
    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#fff;
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1em;
    font-family:Calibri;
    color: #333;
    
    height:25px;
	display:inline-block;
	min-width:190px;
	position:relative;
	
	/* Preloading the background image for the dropdown */
	background:url("images/dropdown_slice.png") no-repeat -99999px;
	resize:none;
}
input:focus,textarea:focus
{
    -moz-box-shadow: 0 0 50px #fff;
	-webkit-box-shadow: 0 0 50px #fff;
	box-shadow: 0 0 50px #fff;  
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;  
	background:url('images/dropdown_slice.png') repeat-x #222;
	background-image:url('images/dropdown_slice.png'),url('images/dropdown_slice.png'),url('images/dropdown_slice.png');
	background-position: 50% -171px, 0 -85px, 0 0;
	background-repeat: no-repeat, no-repeat, repeat-x;
	color:#fff;
}
input[type="text"].textBoxForFilter
{
    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
    width: 150px;     
    height: 17px;
    color:#333;
    background:#ccc;
}
.buttonSectionOptions
{   
    position:relative;
    float:right;
    bottom:20px;
}
.buttonSectionOptions div
{
    float:left;   
    margin-left:10px;
}
input[type="submit"], .submit
{
    -moz-border-radius:7px;
	-webkit-border-radius:7px;
	font-weight: bold;
	border-radius:7px;
	color:#fff;
	margin-top:10px;
    font-size: 1em;
    padding: 10px;
    vertical-align: middle;
    text-transform:uppercase;
    font-family:Calibri;
    border:1px solid #3079ED;
    background:#2F5BB7;
    width:100px;
    color: #fff;
    background: #4d90fe ;
    border: 1px solid #3079ED;
    
}
input[type="submit"]:hover, .submit:hover,input[type="submit"]:active, .submit:active
{
    background: #357AE8;
    border: 1px solid #2F5BB7;
    cursor:pointer;
    -moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	box-shadow: 0 0 5px #fff;  
}
.saveButton
{
    position:absolute;
    bottom:150px;
    z-index:100;
    right:100px;
}
.filterButton
{
    z-index:100;
    margin-top:-30px;
    top:190px;
    right:160px;
    height:15px;
    -moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	color:#fff;
	font-size: 1em;
    padding: 10px;
    vertical-align: middle;
    text-transform:uppercase;
    font-family:Calibri;
    border:1px solid #3079ED;
    background:#2F5BB7;
    width:100px;
    color: #fff;
    background: url(images/search.png) no-repeat #4d90fe center;
    border: 1px solid #3079ED;
    float:right;
}
.filterButton:hover
{
    background: url(images/search.png) no-repeat #357AE8 center;
    border: 1px solid #2F5BB7;
    cursor:pointer;
    -moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	box-shadow: 0 0 5px #fff;  
}


/* TABLE
----------------------------------------------------------*/
.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
    z-index: 90;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.header table
{
    margin: 0px;
    padding: 0px 0px 0px 20px;
    z-index: 90;
}

table
{
    border-collapse: collapse;
}
/*
table td {
    padding: 5px;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}*/

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.update-message-box
{   
    opacity: .70;
    filter: alpha(opacity=70%);   
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
    background: Red;
    font-size:1.5em;
    color:#fff;
    width:200px;
    height:140px;
    display:none;
    position:absolute;
    right:120px;
    z-index:1111;
}
.pointerBox
{
    font-size: 0px; 
    line-height: 0%; 
    width: 0px;
    border-top: 10px solid red;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    margin-left:20px;
    margin-top:0px;
    position:relative;
}
.error
{
    margin-left:10px;
    height:140px;
}

nav, #menucontainer
{
    margin-top: 40px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}
#logoProgramar
{
    background-image: url('images/logoProgramar.png');
    background-repeat:no-repeat;
    float:left;
    display:block;
    width:150px;
    position:absolute;
    height:150px;
    left:60px;
    top:0px;
    z-index:10;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    background: #ec3e3e;
    color:#fff;
    float:left;
    position:relative;
    display:block;
    width:87%;
    margin-left:5px;
    height:20px;
    border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
}
.field-validation-error span
{
    padding-left:30px;   
    margin-top:3px;
}
.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    float:left;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    text-transform:uppercase;
    font-family:Calibri;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    position:relative;
    margin-top: 5px;
    height:15px;
    color:#333;
    font-size:1em;
    font-weight:bold;
    text-transform:uppercase;
}

.display-field, .editor-field
{
    margin: 0.5em 0.5em 0 0;
    height:40px;
}

.display-label-delete
{
    float:left;
    font-size:1.3em;
    color:#666;
    text-transform:uppercase;
    font-family:Calibri;
    /*border-color: #F0E0A0;
    border-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;*/
}

.display-field-delete
{
    float:left;
    font-size:1em;
    color:#19f;
    padding-top:3px;
    /*border-color: #F0E0A0;
    border-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;*/
    font-family:Calibri;
    text-align:left;
    padding-left:5px; 
    display:inline-block ;
}
.display-label-delete-group
{
    float:left;
    font-size:1.3em;
    width:80%;
    background:#666;
    color:#fff;
    text-transform:uppercase;
    font-family:Calibri;
    border:1px solid #ccc;
    
}
div.fila
{
    clear: both;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

div.menu ul li a:hover, .boton:hover
{
    background-color: #f5f8ff;
    color: #333;
    border:1px solid #ecf0fa;
    text-decoration: none;
    cursor: pointer;
    -moz-box-shadow: 0px 0px 5px #333;
    -webkit-box-shadow: 0px 0px 5px #333;
    box-shadow: 0px 0px 5px #000;
}

.botonEditar:hover, .botonEliminar:hover
{
    text-decoration: none;
    cursor: pointer;
}

.boton
{
    background-color: #4d90fe;
    border: 1px #4e667d solid;
    color: white;
    font-weight: bold;
    text-transform:uppercase;
    font-family:Calibri;
    font-size: 1em;
    display: block;
    margin-top:2px;
    text-decoration: none;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    height:20px;
    width:80px;
    padding-top:5px;
    padding-left:30px;
    vertical-align : middle;
}

.btn_buscar
{
    background-color: #4d90fe;
    border: 1px #4e667d solid;
    color: white;
    font-weight: bold;
    text-transform:uppercase;
    font-family:Calibri;
    display: block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    font-size: 0.9em;
     height:20px;
    width:80px;
    padding-top:5px;
    padding-left:30px;
}
.buttonSection
{   
    position:relative;
    float:right;
    width:40%;
    height:10px;
    margin-top:-43px;
    margin-right:10px;
}
.btn_filtros
{
    float:right;
    background-color: #4d90fe;
    border: 1px #4d90fe solid;
    margin-right:5px;
}

.btn_nuevo
{
    margin-left:10px;
    float:right;
    background-color: #333;
    border: 1px #333 solid;
}
.botonEliminar, .botonEditar
{
}

.gridAlternatingRow
{
    background-color: white;
    color: #333333;
    
}

.controles-paginacion-grid
{
    background-color: #F2EFDE;
    color: #333333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
}

.gridHeader
{
    background-image: url('images/columna_gris_1x25.png');
    background-repeat: repeat;
    font-weight: bold;
    color: Black;
    text-align: left;
    margin-left: 0;
    -ms-text-align-last: left;
    height: 25px;
}

.gridHeaderNoSort
{
    background-image: url('images/columna_gris_1x25.png');
    background-repeat: repeat;
    font-weight: bold;
    text-decoration: underline;
    color: Blue;
    text-align: left;
    margin-left: 0;
    -ms-text-align-last: left;
    height: 25px;
}

.gridHeader a, .gridHeader a:link, .gridHeader a:hover, .gridHeader a:active, gridHeader a:visited
{
    text-align: left;
    text-indent: inherit;
    text-decoration:none;
    text-transform:uppercase;
    color:#333;
}

/*
.gridHeader a:visited
{
    background-image : url('images/columna_celeste_1x25.png');
    background-repeat : repeat ;
}


.gridHeader th
{
    background-image : url('images/flecha_abajo.png');
    background-repeat :no-repeat ;
    background-position:right;
}
*/

#contenedor-grid
{
    padding-top:10px;
}
.grid
{
    margin-top:10px;
    width: 100%;
    left:10px;
    font-family:Calibri;
}

.gridRow
{
    background-color: #EFF3FB;
    color: #333333;
    font-family:Calibri;
}


.gridRow:hover, .gridAlternatingRow:hover
{
    background-color: #4d90fe;
    color: white;
}

.gridPager, .gridPager a, .gridPager a:link, .gridPager a:visited, .gridPager a:hover, .gridPager a:active
{
    background-color: #4b6c9e;
    color: White;
    text-align: right;
    font-size: 10px;
}

.gridFooter
{
    background-color: #507CD1;
    font-weight: bold;
    color: White;
}

.filtro .header
{
    font-size: 1.0em;
    display: block;
    text-align: left;
    padding: 1px;
    color: White;
    border: 1px solid #496077;
    z-index: 1;
}

.filtro .content
{
    font-size: 1.1em;
    display: block;
    text-align: center;
    padding: 5px;
    color: White;
    background-color: #EFF3FB;
    border: 1px solid #496077;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.label
{
    color: #333;
    vertical-align: inherit;
    font-family:Calibri;
}

*
{
    padding: 0px;
    margin: 0px;
}

#nav
{
    list-style: none;
    padding: 0px;
    margin: 0px;
    background: #2274B8;
}

#nav li
{
    float: left; /* background-image: url('images/nav_li_bg.png'); */
    background-image: url('images/separadores_2x25.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 0px;
    margin: 0px;
    width: 120px;
    text-align: center;
}
#nav li a
{
    display: block;
    padding: 4px 10px;
    text-decoration: none;
    color: #CCCCCC;
    font-weight: bold;
}
#nav li a:hover
{
    color: #FFFFFF;
}

.imgHome
{
    table-layout: inherit;
    width: 350px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
}

.tituloabm
{
    font-weight: bold;
    text-transform:uppercase;
    font-family:Calibri;
    color: White;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 0px;
    background-repeat: repeat-x;
    font-size:1.3em;
    background:#4d90fe;
}

#filtros,.filtros
{
    text-transform:uppercase;
    display:none;
    background:#EFF3FB;
    border:1px dotted #ccc;
    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin-top:5px;
	padding:0;
	width:100%;
}
.filtrosabmBig
{
    background: #333;
    
}

.filtrosabmBig td
{
    padding-left: 10px;
    height: 30px;
}

filtrosabmBig input
{
    border: 1px solid #ccc;
}

.filtrosabm
{
    background: #EFF3FB;
    width:100%;
    height:100%;
}
.filtrosabm tr
{
    margin:10px;
}
.filtrosabm td
{
    padding-top:4px;
    padding-left: 10px;
    height: 30px;
}

.nuevo-paginacion-grid
{
    background-image: url('images/fondo_seccion2_top_1px.png');
    background-repeat: repeat;
    height: 50px;
}

.nuevo-paginacion-grid table tr td
{
    padding-top: 8px;
    padding-left: 10px;
}


th.grid_sort_asc
{
    background-image: url('images/flecha_arriba.png');
    background-repeat: no-repeat;
    background-position: right;
    background-color: #D4EAFC;
}

th.grid_sort_desc
{
    background-image: url('images/flecha_abajo.png');
    background-repeat: no-repeat;
    background-position: right;
    background-color: #D4EAFC;
}

.btn_AtrasAct
{
    background-color: #EBEBEB;
    border: 1px #BBBBBB solid;
    color: Black;
    font-weight: bold;
    font-size: 12px;
    display: block;
    width: 120px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 30px;
    cursor: hand;
    cursor: pointer;
    position: relative;
    float: left;
    left: 60px;
    vertical-align: middle;
    top: 25%;
}

.btn_cancelarAct
{
    background-color: #EBEBEB;
    border: 1px #BBBBBB solid;
    color: Black;
    font-weight: bold;
    font-size: 12px;
    display: block;
    width: 120px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 30px;
    cursor: hand;
    cursor: pointer;
    position: relative;
    left: 360px;
    vertical-align: middle;
    top: 25%;
}

.btn_continuarAct
{
    background-color: #4d90fe;
    border: 1px #3485BD solid;
    color: white;
    font-weight: bold;
    font-size: 12px;
    display: block;
    width: 120px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 30px;
    cursor: hand;
    cursor: pointer;
    position: relative;
    float: right;
    right: 60px;
    vertical-align: middle;
    top: 25%;
}

div.footerAceptar
{
    background-image: url('images/bar_bottom.png');
    height: 64px;
    text-align: center;
    vertical-align: middle;
}

div.footerAceptarFino
{
    background-image: url('images/bar_bottom.png');
    height: 32px;
    text-align: center;    
    vertical-align: middle;
    padding-top: 10px;
}

.encabezadoActividad
{
    background-image: url('images/encabezado_1x25px.png');
}

.tabla-actividad
{
	width: 100%;
}

.tabla-actividad-col1
{
	width: 40%; 
	text-align: right;
}

.tabla-actividad-col2
{
	width: 15px; 
}

.tabla-actividad-col3
{
	text-align: left;
}

.par-actividad
{
    background-color: #DAE4ED;
    text-align: center;
    width: auto;
    margin-bottom: 2px;
    margin-top: 1px;
    /*height: auto;*/
}

.impar-actividad
{
    background-color: #E6EBEF;
    /*text-align: center;*/
    width: auto;
    margin-bottom: 2px;
    margin-top: 1px;
    /*height: auto;*/
}

.editor-label-activity, .editor-field-activity, .editor-field-activity-listbox
{
    margin: 6px 2px 6px 2px;
}

.editor-label-activity
{
    display: inline-block;
    width: 150px;
    /*position: relative;*/
    height: 100%;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
}

.editor-field-activity
{
    display: inline-block;
    width: 300px;
    height: 100%;
    /*position: relative;*/
    text-align: left;
    vertical-align: middle;
}

.editor-field-activity-listbox
{
    display: inline-block;
    width: 300px;
    height: 100%;
    /*position: relative;*/
    text-align: left;
    vertical-align: middle;
}


#barraNavegacionActividad
{
    background-image: url('images/fondo_barprogess.png');
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 778px;
    left: 20%;
}

.multilineTextbox
{
    height: 5em;
    width: 5em;
}

.dropDownForFilter
{
    height: 23px;
    width: 120px;     
    font-size: 1em;
}

.dropDownForFilterMedium
{
    height: 23px;
    width: 130px;     
    font-size: 1em;
}
.dialogDiv
{
 background:#ccc;
 border:4px solid #fff;   
 font-family:Calibri;Font-size:1em;
 overflow:hidden;
}
/*DIV QUE SE MUESTRA PARA EL FONDO CUANDO SE ABRE UN POPUP*/
#disablingDiv
{
    display: none; /* Display it on the layer with index 1001.        Make sure this is the highest z-index value        used by layers on that page */
    z-index: 111; /* make it cover the whole screen */
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; /* make it white but fully transparent */
    background-color: #4d90fe;
    opacity: .70;
    filter: alpha(opacity=70%);
}

input[type="radio"]
{
    color: Black;
    vertical-align: inherit;
}

.tipoTarea, .tipoTareaActivo, .subjectNpd, .subjectNpdActivo
{
	height:103px;
	border: 1px; 
	color: Black;
}

.tipoTarea, .subjectNpd
{
	background-image: url('images/TipoTarea_content.png');
    background-repeat: repeat;	
}

.tipoTareaActivo, .subjectNpdActivo
{
	background-image: url('images/TipoTarea_content_active.png');
    background-repeat: repeat;	
}

.tipoTareaIzq, .tipoTareaIzqActivo, .tipoTareaDer, .tipoTareaDerActivo, .subjectNpdIzq, .subjectNpdIzqActivo, .subjectNpdDer, .subjectNpdDerActivo
{
	width: 19px;
	height:103px;
	text-align: right; 
	background-repeat: no-repeat;
}

.tipoTareaIzq, .subjectNpdIzq
{
	background-image: url('images/TipoTarea_borde_izq.png');
}

.tipoTareaIzqActivo, .subjectNpdIzqActivo
{
	background-image: url('images/TipoTarea_borde_izq_active.png');
}

.tipoTareaDer, .subjectNpdDer
{
	background-image: url('images/TipoTarea_borde_der.png');
}

.tipoTareaDerActivo, .subjectNpdDerActivo
{
	background-image: url('images/TipoTarea_borde_der_active.png');
}

.textoTipoTarea, .textoSubjectNpd
{
	font-size: 20px;
	color: Black;
	text-align: left;
	padding-left: 5px;
	padding-top: 40px;
	height: 50px;
}

.botonTipoTarea
{
	cursor: hand;
    cursor: pointer;	
}

input[type="text"].txtObjetivosCumplidos
{  
    width:20px; 
    color:Blue ;
}

input[type="text"].dateTimeTextBox
{
    width: 65px;
    height: 17px;
    vertical-align: middle;
    float: left;
}

.headerGridObjetives
{
    
    background-image : url('images/columna_gris_1x25.png'); 
    background-repeat: repeat;
    height : 25px;
    color: Blue;
    width:inherit;
    text-align:center; 
    /*
    background-image: url('images/fondo_seccion2_top_1px.png');
    */
}


.erroresInput 
{
    border-bottom-color : Red;
    border-top-color : Red;
    border-left-color : Red;
    border-right-color : Red ;
    
    background-color : #FFEEEE; 
}


input[type="text"].datosExtraTextBox
{
    width: 130px;
}

.datosExtraColumna
{
    padding-left: 4px;
}

.tabla
{
   clear: none;
   overflow: auto;
}

.fila
{
   clear: both;
}

.columnaizquierda
{
   text-align: right;
   float: left;
   padding: 5px;
   padding-left : 10px;
   width : 200px;
   
}

.columnaderecha
{
    float: left;
    padding: 5px;
    padding-right : 10px;
}

#logonerror
{
    display:none;
    background:#000;   
    color:red;
    display:none;
    opacity: .70;
    filter: alpha(opacity=70%);   
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	width:90%;
	padding:10px;
    font-size:1em;
    font-family:Calibri;
    text-transform:uppercase;
    
}
/*para el manejo de selectbox convertidos*/
.tzSelect{
	
	/* This is the container of the new select element */
	
	height:34px;
	display:inline-block;
	min-width:200px;
	position:relative;
	
	/* Preloading the background image for the dropdown */
	background:url("images/dropdown_slice.png") no-repeat -99999px;
}

.tzSelect .selectBox{
	position:absolute;
	
	height:100%;
	width:100%;
	margin-top:5px;
	/* Font settings */
	
	font:13px/34px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	text-shadow:1px 1px 0 #EEEEEE;
	color:#666666;

	/* Using CSS3 multiple backgrounds and a fallback */
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:url('images/select_slice.png') repeat-x #ddd;
	background-image:url('images/select_slice.png'),url('images/select_slice.png'),url('images/select_slice.png'),url('images/select_slice.png');
	background-position:0 -136px, right -204px, 50% -68px, 0 0;
	background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
	
	cursor:pointer;
	
	
}

.tzSelect .selectBox:hover,
.tzSelect .selectBox.expanded{
	background-position:0 -170px, right -238px, 50% -102px, 0 -34px;
	color:#2c5667;
	text-shadow:1px 1px 0 #9bc2d0;
}

.tzSelect .dropDown{
	position:absolute;
	top:40px;
	left:0;
	width:100%;
	height:auto;
	overflow:auto;
	border:1px solid #32333b;
	border-width:0 1px 1px;
	list-style:none;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	z-index:1103;
	-moz-box-shadow:0 0 4px #111;
	-webkit-box-shadow:0 0 4px #111;
	box-shadow:0 0 4px #111;
}


.tzSelect li{
	height:30px;
	cursor:pointer;
	position:relative;
	
	/* Again, using CSS3 multiple backgrounds with a fallback */
	
	background:url('images/dropdown_slice.png') repeat-x #222;
	background-image:url('images/dropdown_slice.png'),url('images/dropdown_slice.png'),url('images/dropdown_slice.png');
	background-position: 50% -171px, 0 -85px, 0 0;
	background-repeat: no-repeat, no-repeat, repeat-x;
	color:#fff;
	padding-left:50px;
	z-index:1103;
}

.tzSelect li:hover{
	background-position: 50% -256px, 0 -85px, 0 0;
	color:#19f;
}

.tzSelect li span{
	position:absolute;
	left:30%;
	top:7px;
	color:#fff;
}
.tzSelect li span:hover{
	color:#19F;
}
#divOperacionExitosa
{
    position:absolute;
    background:#000;   
    right:20px;
    bottom:10px;
    color:#fff;
    display:none;
    opacity: .60;
    filter: alpha(opacity=60%);   
    padding:20px;
    font-size:1.5em;
    font-family:Calibri;
    text-transform:uppercase;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	height:20px;
	z-index:1100;
}
#btnAceptar
{
    position:absolute;
    right:120px;
    bottom:120px;
}
/*div manejo archivos*/
div.upload {
   position: relative;
   width: 80px;
   height: 24px;
   overflow:hidden;
   background:url(btn_upload.png) left top no-repeat;
   clip:rect(0px, 80px, 24px, 0px );
}  

div.upload input {
   position: absolute;
   left: auto;
   right: 0px;
   top: 0px;
   margin:0;
   padding:0;
   filter: Alpha(Opacity=0);
   -moz-opacity: 0;
   opacity: 0;
}
/*para el manejo del input file*/
input[type="file"]
{
    font-size: 50px; 
    width: 120px; 
    opacity: 0; 
    filter:alpha(opacity: 0);  
    position: relative; 
    top: -40px;
    left: -20px;
}
.likeText
{
    float:left;
 width:200px;
 border:1px solid #666;
 background:#333;
 color:#fff;
 height:25px;
}
.buttonInputFile
{
    float:left;
    background-color: #333;
    border: 1px #4e667d solid;
    color: white;
    font-weight: bold;
    text-transform:uppercase;
    font-family:Calibri;
    font-size: 1em;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    height:20px;
    width:140px;
    padding-top:5px;
    margin-left:10px;
    padding-left:5px;
    vertical-align : middle;
}
.buttonInputFile:hover
{
    background-color: #f5f8ff;
    color: #333;
    border:1px solid #ecf0fa;
    text-decoration: none;
    cursor: pointer;
    -moz-box-shadow: 0px 0px 5px #333;
    -webkit-box-shadow: 0px 0px 5px #333;
    box-shadow: 0px 0px 5px #000;
}

#botonAgregarEjercicio
{
    width:40px;
    height:40px;
    background-color: #4d90fe;
    border: 1px #4e667d solid;
    color: white;
    float:right;
}
#botonAgregarEjercicio:hover
{
    width:40px;
    height:40px;
    background-color: #fff;
    border: 1px #4e667d solid;
    color: #4d90fe;
}
#overDiv
{
    background:#666;
    color:#fff;
    -moz-box-shadow: 0px 0px 5px #333;
    -webkit-box-shadow: 0px 0px 5px #333;
    box-shadow: 0px 0px 5px #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor:pointer;
    cursor:hand;
    position:absolute;
    display:none;
    float:left;
    opacity: .70;
    filter: alpha(opacity=70%);
    z-index:100;
    padding-left:10px;
    padding-top:5px;
    margin-left:10px;
    width:80px;
    height:25px;
}
/*PARA EL MANEJO DE TABS*/
ul.tabs
{
  position:relative;
  width:100%;     
  height:30px;
  line-height: 1em;
  margin-top:-15px;
  margin-left:50px;
    
}
.tabs li
{
    display:inline;
    list-style:none;
    border:1px solid #000;
    padding: 8px 20px;
    text-decoration: none;
    line-height: 3.5em;
    background-color: #ccc;
    color: #fff;
    border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
    border:3px solid  #ccc;
    cursor:pointer;
    cursor:hand;
    margin-left:0px;
}
.tabs li:hover
{
    border:3px solid #19F;
}
.tabs .selected
{
    background:#333;
    border:3px solid  #333;
}
.contentInformation
{
    border:3px solid #333;
    width:90%;
    height:80%;
    margin-top:11px;
    margin-left:30px;
    padding:10px;
 	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/*para las opciones del login*/
#logindisplay
{
    background:#19f;
    border:3px solid #fff;
	width:100px;
	position:absolute;
	right:0px;
	top:-5px;
	height:30px;
    font-size: 1.1em;
    text-transform:uppercase;
    font-family:Calibri;
    -moz-border-radius:10px;
	border-radius:10px;
    display: block;
    text-align: right;
    margin: 10px;
    padding-right:50px;
    padding-top:10px;
    color: #fff;
    text-decoration: none;
}
#logindisplay:hover
{
    cursor:pointer;
    color:#fff;
    -moz-box-shadow: 0px 0px 5px #333;
    -webkit-box-shadow: 0px 0px 5px #333;
    box-shadow: 0px 0px 5px #000;
}
#logindisplay a
{
    font-size: 1.1em;
    text-transform:uppercase;
    font-family:Calibri;
    color: #fff;
    text-decoration: none;
}

#logindisplay a:link, #logindisplay a:visited
{
    color: #fff;
    text-decoration: none;
}
#logindisplay a:hover
{
    color: #ecf0fa;
    text-decoration: underline;
}
/* LogOn Button */

.logOnCandado
{
    position:absolute;
    top:3px;
    right:110px;
    z-index:100;
}
#logoutClickMe
{
 width:100px;
 height:30px;   
}
.logOutCandado
{
    z-index:100;
}
.userOptions
{
    width:200px;
    height:auto;
    line-height:70%;
    margin-top:16px;
    margin-left:40px;
    padding-top:10px;
    padding-bottom:10px;
    position:absolute;
    float:left;
    text-align:left;
    display:none;
    background:#19F;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	z-index:1100;  
	opacity: .90;
    filter: alpha(opacity=90%);
}
.userOptions li
{
    list-style: none;
    float:left;
    width:76%;
    left:0px;
    height:30px;
    margin-left:10px;
    font-family:Calibri;
    font-size:0.8em;
    line-height:30px;
    padding-left:30px;
    border-bottom:1px dotted #fff;
}
.userOptions li:hover
{
    background:#666;
}
.miPerfilButton
{
    float:center;
    margin-left:0px;
    width:100%;
    text-align:center;
}

.seeMoreOptions
{
    font-size: 0px; line-height: 0%; width: 0px;
    border-top: 10px solid #fff;
    border-left: 5px solid #19f;
    border-right: 5px solid #19f;
    margin-left:120px;
    margin-top:-13px;
    position:relative;
    
}
/*INDEXELEMENTS*/
#contentIndex
{
    margin-top:20px;   
}
.contentBox
{
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    border:3px solid #fff;   
    width:120px;
    height:120px;
    color:#fff;
    padding:30px;
    margin:10px;
}
.contentBox:hover
{
    color:#19F;
    text-transform:uppercase;
    background:#fff;
    border:3px solid #19f;   
    cursor:pointer;
}
.divLine
{
    float:left;
}
.orange
{
    background-color: #EE4000 ;
}
.skyblue
{
    background-color: #19f ;
}
.green
{
    background-color: #50e492;
}
.purple
{
    background-color: #7f68de;
}
.contentDetailsIndex
{
    width:600px;
    height:365px;
    padding:5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    border:3px solid #fff;   
    position:relative;
    top:10px;
    right:30px;
    float:right;
    background:#fff;
    color:#fff;
}
.contentDetailsIndex .content
{
    position:absolute;   
    background:#fff;
}
.titleContent
{
    font-size:1.5em;
    bottom:20px;
    margin-left:-26px;
    padding:7px;
    width:130%;
	height:20px;
	text-transform:uppercase;
	opacity: .70;
    filter: alpha(opacity=70%);   
}
.textContent
{
    font-size:1em;
    margin-left:-26px;
    margin-top:-10px;
    height:120px;
}
.imageContent
{
    z-index:100;
    margin-top:0px;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.detailsContent
{
    z-index:101;
    opacity: .70;
    filter: alpha(opacity=70%);  
    background:#000;
    color:#fff;
    height:120px;
    width:150px;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	position:absolute;
	bottom:30px;
	right:20px;
	padding:10px;
}
.queesSectionSpace
{
    border-left:2px dotted #333;
    height:90%;
    float:left;   
}
.queesContent
{
    font-size:1em;
    color:#333;   
    width:220px;
}
important
{
    font-size:1.2em;
    color:#19F;
    text-transform:uppercase;
}
enfasis
{
    font-size:1.1em;
    color:#EE4400;
    font-style:italic;
    text-transform:uppercase;
}
.comentario
{
    opacity: .70;
    filter: alpha(opacity=70%);      
    position:absolute;
    
    margin: 50px auto;
    width: 280px;
    height: 100px;
    background: #EE4400;
    border-radius: 10px;
    padding:20px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
    z-index: 90;     
}


.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}​
