@model WebProgramAR.Entidades.Ejercicio
@{
    Layout = null;
}
<script type="text/javascript">
    $("#btnCancelarEjercicio").click(function (event) {
        CerrarDialog();
    });

    $(document).ready(function () {
        $("#accordion").accordion(
        {
            autoHeight: false
        }
        );
    });
</script>
<h2>Detalles</h2>
<legend>Ejercicio</legend>

<fieldset class="fieldsetAncho">
    
    @Html.Partial("_Display", Model)
</fieldset>
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <input type="button" value="OK" class="submit" id="btnCancelarEjercicio" />
        </td>
    </tr>
</table>
