@model WebProgramAR.Entidades.Ejercicio
           
@{
    
    ViewBag.Title = "Ejercicios";
}

<h2>Creacion Correcta</h2>
        


<script type="text/javascript">
    $(document).ready(function () {
        $("#accordion").accordion(
        {
            autoHeight: false
        }
        );
    });
</script>
   
   El ejercicio fue creado correctamente.