@model WebProgramAR.Sitio.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";

    List<WebProgramAR.Entidades.Pais> listaPaises = (List<WebProgramAR.Entidades.Pais>)ViewBag.Paises;
    List<WebProgramAR.Entidades.Provincia> listaProvincias = (List<WebProgramAR.Entidades.Provincia>) ViewBag.Provincias;
    List<WebProgramAR.Entidades.Localidad> listaLocalidades = (List<WebProgramAR.Entidades.Localidad>)ViewBag.Localidades;
}

<h1>Crear una Cuenta Nueva</h1>
<p>
    Use el siguiente formulario para crear una nueva cuenta. 
</p>
<p>
    La contraseña requiere como minimo de @Membership.MinRequiredPasswordLength caracteres.
</p>
<script type="text/jscript">
    function validForm() {
        var countErrors = 0;
        if ($("#Usuario_PaisId").val() == "") {
            countErrors++;
            $("#Usuario_PaisId").parent().last().css("display", "block");
        } else {
            $("#Usuario_PaisId").parent().last().css("display", "none");
        }
        if ($("#Usuario_ProvinciaId").val() == "") {
            countErrors++;
            $("#Usuario_ProvinciaId").parent().last().css("display", "block");
        } else {
            $("#Usuario_ProvinciaId").parent().last().css("display", "none");
        }
        if ($("#Usuario_LocalidadId").val() == "") {
            countErrors++;
            $("#Usuario_LocalidadId").parent().last().css("display", "block");
        } else {
            $("#Usuario_LocalidadId").parent().last().css("display", "none");
        }
        if (countErrors == 0) return true; else return false;
    }
    $("#btnAceptar").click(function () {
        if (validForm()) {
            $("#form0").submit();
        }
    });

</script>
@using (Ajax.BeginForm("Register", "Usuario", FormMethod.Post, new AjaxOptions { OnBegin = "disableButtons", UpdateTargetId = "update-message", OnSuccess = "updateSuccessView", HttpMethod = "POST" }))
{ 
        @Html.ValidationSummary(true)

        @Html.Partial("_Create", Model)
        <div>    
            <input type="submit" value="Registrar" class="submit"  id="btnAceptar" style="bottom:170px;"/> 
        </div>

}
<div class="update-message-box">
    <div id="update-message" class="error" ></div>
</div>
<div id="divOperacionExitosa">Operacion Exitosa</div>