@model WebProgramAR.Entidades.Curso
@{

    Layout = null;
}

  
@using (Ajax.BeginForm("Delete", "Curso", FormMethod.Post, new AjaxOptions { OnBegin = "disableButtons", UpdateTargetId = "update-message", OnSuccess = "updateSuccess", HttpMethod = "POST" }))
{
    <h2>Eliminar</h2>
    <legend>Curso</legend>
    <h3>Confirmacion</h3>
    
    <fieldset>
        <br style="height: 5px" />
        @Html.HiddenFor(model => model.CursoId)
        <div class="fila">
            <div class="display-label-delete">Nombre:</div>
            <div class="display-field-delete">@Model.Nombre</div>
        </div>
    
    </fieldset>  
    
        <div id="buttonSectionOptions" class="buttonSectionOptions">
            <div>
                <input type="submit" value="Guardar" class="submit" id="btnGuardar"/>
            </div>
            <div >
                 <input type="button" value="Cancelar" class="submit" id="btnCancelar"/>
            </div>
        </div>


}
<div class="update-message-box">
    <div id="update-message" class="error" ></div>
    <div class="pointerBox"></div>
</div>
<div id="divOperacionExitosa">Operacion Exitosa</div>
