@{
    ViewBag.Title = "Descargar Ragnarok";
}

<h2>Descargar Ragnarok</h2>

@using (Html.BeginForm("DescargarInstaladorRagnarok","Home"))
{
   <div>
            <input type="submit" value="Descargar" class="submit" id="btnGuardar"/>
    </div>


}