<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HostSmtp" value="smtp.apgconsulting.com.ar" />
    <add key="PortSmtp" value="6666" />
    <add key="UsarSsl" value="false" />
    <add key="Intervalo" value="60000" />
    <add key="NivelLog" value="Debug" />
    <add key="UserSmtp" value="programar" />
    <add key="PasswordSmtp" value="Pr0gr4m4r" />
  </appSettings>

  <connectionStrings>
    <add name="WebProgramAREntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.program-ar.com.ar;Initial Catalog=programarDesarrollo;User ID=programar;Password=Pr0gr4m4r;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>