<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WebProgramAREntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ar64.toservers.com,2433;initial catalog=programar;persist security info=True;user id=program-ar;password=tizne532zonza;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>