@{
    ViewBag.Title = "Contacto";
}
<script type="text/javascript">
    $(document).ready(function () {
        //para el manejo del menu
        $("#menu li").each(function (index) {
            if ($(this).children().html().toUpperCase() == "CONTACTO") {
                $(this).addClass("selected");
            } else {
                $(this).removeClass("selected");
            }
        });
    });
</script>
<h1>@ViewBag.Message</h1>
<p>
     Put content here.
</p>
