@{
    ViewBag.Title = "QUe es?";
}
<script type="text/javascript">
    $(document).ready(function () {
        //para el manejo del menu
        $("#menu li").each(function (index) {
            if ($(this).children().html().toUpperCase() == "QUE ES?") {
                $(this).addClass("selected");
            } else {
                $(this).removeClass("selected");
            }
        });
    });
</script>

<!--<h1>@ViewBag.Message</h1>-->
    <div class="queesSectionSpace">
        <fieldset>
            <h3>Que es?</h3>
                <div class="queesContent">
                    <important>Program.ar</important> es un producto de SW que permite un entorno didáctico (principalmente gráfico) para el aprendizaje de lenguajes estructurados de programación. Su principal enfoque es el pedagógico, reduciendo la complejidad inicial que brindan entornos de programación complejos y los principales lenguajes. De esta forma, los estudiantes podrán ir adquiriendo conocimientos fundamentales de lógica y resolución de problemas de diferente complejidad, incrementándose a medida que el alumno vaya progresando.
                </div>
        </fieldset>
    </div>
    <div class="queesSectionSpace">
        <fieldset>
            <h3>Por que?</h3>
            <div class="queesContent">
                Porqué <important>Program.ar</important> es un producto pensado para la Argentina, en donde sistemas es una carrera con mucha salida laboral y pocos inscriptos. Parte de esta problemática es el desconocimiento que tienen los alumnos de secundaria en lo que es la programación, generalmente situada a la par de la matemática más árida y compleja. Program.ar introduce en el mercado, un producto que permite demostrar al alumno que la programación no es más que un pensamiento lógico, y que por lo general aplica sin saberlo en el día a día.
               <important> Program.ar</important> es posible gracias al plan del gobierno <enfasis>“Conectar igualdad.com.ar”</enfasis> lanzado a mediados del año 2010. El plan provee de una computadora portátil por cada alumno y docente del ciclo secundario. Esto presenta una ventaja de infraestructura fundamental, ya que sin este soporte la idea no sería viable.
            </div>
        </fieldset>
     </div>
     <div class="queesSectionSpace">
        <fieldset>
            <h3>En que se Diferencia?</h3>
            <div class="queesContent">
                Se diferencia de los entornos de programación ya que es mucho más <enfasis>simple</enfasis>.
                Se diferencia de otras herramientas pedagógicas, en que permite programar en un <enfasis>lenguaje en castellano</enfasis>. 
                Su arquitectura provee además la posibilidad de agregar lenguajes de programación estructurados <enfasis>definidos por usuarios</enfasis> (y por ciertos limitantes propios de la arquitectura), lo cual extiende la utilidad del mismo.
            </div>
        </fieldset>
     </div>
      <div class="queesSectionSpace">
        <fieldset>
            <h3>Objetivos</h3>
            <div class="queesContent">
                El objetivo de <important>Program.ar</important> es que el alumno adquiera los conceptos básicos de la <enfasis>programación estructurada</enfasis> para que luego pueda complementarlos con otros materiales externos y de esta forma adquirir una formación elemental (pero sólida) en el paradigma. A medida que se van adquiriendo nuevos conocimientos y se plantean nuevas problemáticas de la vida real, los programas se van haciendo más y más complejos y, a veces, es necesario cambiar de paradigma para poder modelar un problema. Este cambio introduce el enfoque de <enfasis>orientación a objetos</enfasis>, donde se modelan entidades y relaciones entre las mismas, comunicándose a través del paso de mensajes. Si el alumno se encontrase interesado en aprender más sobre este tema, habrá encontrado en Program.ar los pilares desde donde orientar su <enfasis>formación académica</enfasis>.
            </div>
        </fieldset>
     </div>
