@model WebProgramAR.Entidades.Curso

<div class="editor-label">
     @Html.LabelFor(m => m.Nombre)
</div>

<div class="editor-field">
    @Html.EditorFor(m => m.Nombre)
    @Html.ValidationMessageFor(m=> m.Nombre)
</div>



