@model WebProgramAR.Entidades.Curso

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@{
    Layout = null;
    ViewBag.Title = "Cursos";
}

<h2>Nuevo</h2>
<h4>Curso</h4>
   
@using (Ajax.BeginForm("Create", "Curso", FormMethod.Post, new AjaxOptions { OnBegin="disableButtons", UpdateTargetId = "update-message", OnSuccess = "updateSuccess", HttpMethod = "POST" }, new { autocomplete = "off" }))
{ 
    @Html.ValidationSummary(true)

        
        @Html.Partial("_CreateOrEdit", Model)
        
       <div id="buttonSectionOptions" class="buttonSectionOptions">
            <div>
                <input type="submit" value="Guardar" class="submit" id="btnGuardar"/>
            </div>
            <div >
                 <input type="button" value="Cancelar" class="submit" id="btnCancelar"/>
            </div>
        </div>
}
<div class="update-message-box">
    <div id="update-message" class="error" ></div>
    <div class="pointerBox"></div>
</div>
<div id="divOperacionExitosa">Operacion Exitosa</div>
