@model WebProgramAR.Entidades.Curso
@{

    Layout = null;
}
<script type="text/javascript">
    $("#btnCancelar").click(function (event) {
        CerrarDialog();
    });
</script>
<h2>Eliminar</h2>
<legend>Curso</legend>
    <h3>Confirmacion</h3>

    
<fieldset>
    
      
    <br style="height: 5px" />
    <div class="fila">
        <div class="display-label-delete">Nombre:</div>
        <div class="display-field-delete">@Model.Nombre</div>
    </div>
 
    
</fieldset>



    
@using (Html.BeginForm())
{
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <input type="submit" value="Eliminar"  />
            </td>
            <td style="width: 10px">
            </td>
            <td align="center">
                <input type="button" value="Cancelar" class="submit" id="btnCancelar" />
            </td>
        </tr>
    </table>

}
