@model WebProgramAR.Entidades.Curso
@{
    Layout = null;
}
<script type="text/javascript">
    $("#btnCancelar").click(function (event) {
        CerrarDialog();
    });
</script>
<h2>Detalles</h2>
<fieldset>
    <legend>Curso</legend>

    <div class="fila">
        <div class="display-label-delete">Nombre:</div>
        <div class="display-field-delete">@Model.Nombre</div>
    </div>
    
</fieldset>
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <input type="button" value="OK" class="boton" id="btnCancelar" />
        </td>
    </tr>
</table>
