@model WebProgramAR.Entidades.Curso

@{
    Layout = null;  
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>
<legend>Curso</legend>
        @Html.HiddenFor(model => model.CursoId)

@using (Ajax.BeginForm("Edit", "Curso", FormMethod.Post, new AjaxOptions { OnBegin = "disableButtons", UpdateTargetId = "update-message", OnSuccess = "updateSuccess", HttpMethod = "POST" }, new { autocomplete = "off" }))
{ 
    @Html.ValidationSummary(true)
        @Html.Partial("_CreateOrEdit", Model)
        
         <div id="buttonSectionOptions" class="buttonSectionOptions">
            <div>
                <input type="submit" value="Guardar" class="submit" id="btnGuardar"/>
            </div>
            <div >
                 <input type="button" value="Cancelar" class="submit" id="btnCancelar"/>
            </div>
        </div>
}
<div id="update-message" class="error" style="display:none;"></div>
<div id="divOperacionExitosa">Operacion Exitosa</div>
