@model WebProgramAR.Entidades.Ejercicio
@{

    Layout = null;
}
<script type="text/javascript">
    $("#btnCancelar").click(function (event) {
        CerrarDialog();
    });
</script>
<h2>Eliminar</h2>
<legend>Ejercicio</legend>
    <h3>Confirmacion</h3>

    
<fieldset>
    <br style="height: 5px" />
    <div class="fila">
        <div class="display-label-delete">Nombre:</div>
        <div class="display-field-delete">@Model.Nombre</div>
    </div>
     <div class="fila">
        <div class="display-label-delete">Nivel Ejercicio:</div>
        <div class="display-field-delete">@Model.NivelEjercicio</div>
    </div>
    
</fieldset>



    
@using (Ajax.BeginForm("Delete", "Ejercicio", FormMethod.Post, new AjaxOptions { UpdateTargetId = "update-message", OnSuccess = "updateSuccess", HttpMethod = "POST" }))
{
    <div style="width:100%">
            <div style="display:inline;float:left;left:15%;">
                <input type="submit" value="Guardar" class="submit" id="btnGuardar"/>
            </div>
            <div style="float:left;margin-left:20px;">
                 <input type="button" value="Cancelar" class="submit" id="btnCancelar"/>
            </div>
        </div>

}

<div id="update-message" class"error" style="display:none;"></div>
<div id="divOperacionExitosa">Operacion Exitosa</div>
<script language="javascript">
    $("#btnCancelar").live('click', function (event) {
        CerrarDialog();
    });
    function updateWindow() {
        $("#divOperacionExitosa").delay(300).fadeOut(500);
        setTimeout("updateWin()", 3000);
    }
    function updateWin() {
        window.location.reload();
    }

    function updateSuccess() {
        if ($("#update-message").html() == "True") {
            $("#divOperacionExitosa").fadeIn(300);
            updateWindow();

        } else {
            $("#update-message").show();
        }

    }
    
    
</script>