           
@{
    
    ViewBag.Title = "Ejercicios";
}

<h1>Creacion Correcta</h1>
        


<script type="text/javascript">
    $(document).ready(function () {
        $("#accordion").accordion(
        {
            autoHeight: false
        }
        );
    });
</script>
   
   <img src="@Url.Content("~/Content/images/ok_icon.png")" style="top:10px;" />El ejercicio fue creado correctamente.
   <br />
   <br />
   <br />
   <br />
   <div >
    @if (Request.IsAuthenticated && (HttpContext.Current.User.IsInRole("administrador") || HttpContext.Current.User.IsInRole("moderador")))
    {
        @Html.ActionLink("Ir a Ejercicios Pendientes", "PendientesAprobacion", "Home", new { @class = "submit", @style = "color:#fff" })
    }
    else
    {
        @Html.ActionLink("Ir a Ejercicios Pendientes", "MiPerfil", "Usuario", new { currentTab="Pendientes"}, new { @class = "submit", @style = "color:#fff" })
    }
    </div>
   