@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
 Error   
</h2>

<p>
@Model.Exception.Message
</p>

<p>
@Model.Exception.InnerException
</p>

@foreach (var item in @Model.Exception.StackTrace.Split(new string[]{ "\r\n" }, StringSplitOptions.RemoveEmptyEntries))
{
    <p>
        @item
    </p>
}

