<?xml version="1.0"?>
<configuration>
 
  
<configSections>
  
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>


<appSettings>

  <add key="archEntrada" value="Configuracion\test.gar" />
  <add key="archValidacionesCorrectas" value="Configuracion\validacionesSemanticasCorrectas.gar" />
  <add key="archValidacionesIncorrectas" value="Configuracion\validacionesSemanticasIncorrectas.gar" />
  <add key="archAFD" value="Configuracion\AFD_GARGAR.txt"/>
  <add key="archGramatica" value="Configuracion\Gramatica.xml"/>

  <add key="archRutinasEentradaSalida" value="D:\DESARROLLO\ProyectoFinal\trunk\AplicativoEscritorio\Compilador\RutinasEntradaSalida.txt"/>

  <add key="capacidadBuffer" value="100"/>
  <add key="extraEspaciosEnBuffer" value="5"/>
  <add key="cantElementosCadenaEntrada" value="4"/>
</appSettings>

</configuration>